<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="HCWRemoteControlMap" type="System.Configuration.NameValueSectionHandler" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser"/>
    </configSections>

  <appSettings>
    <add key="GraphControlClientSendTimeout" value="20"/>
    <add key="GraphControlClientCloseTimeout" value="10"/>
    <add key="OutputDebugGRF" value="true"/>
  </appSettings>
  
  <HCWRemoteControlMap>
    <add key="One" value="SendDigitToChannelKeypad"/>
    <add key="Two" value="SendDigitToChannelKeypad"/>
    <add key="Three" value="SendDigitToChannelKeypad"/>
    <add key="Four" value="SendDigitToChannelKeypad"/>
    <add key="Five" value="SendDigitToChannelKeypad"/>
    <add key="Six" value="SendDigitToChannelKeypad"/>
    <add key="Seven" value="SendDigitToChannelKeypad"/>
    <add key="Eight" value="SendDigitToChannelKeypad"/>
    <add key="Nine" value="SendDigitToChannelKeypad"/>
    <add key="Zero" value="SendDigitToChannelKeypad"/>
    <add key="Mute" value="MuteAudio"/>
    <add key="VolumeUp" value="VolumeUp"/>
    <add key="VolumeDown" value="VolumeDown"/>
    <add key="PreviousChannel" value="PreviousChannel"/>
    <add key="ChannelUp" value="ChannelUp"/>
    <add key="ChannelDown" value="ChannelDown"/>
    <add key="Power" value="CloseApp"/>
    <add key="Left" value="Left"/>
    <add key="Right" value="Right"/>
    <add key="Up" value="Up"/>
    <add key="Down" value="Down"/>
    <add key="Record" value="Record"/>
  </HCWRemoteControlMap>

<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
