<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    </sectionGroup>
    <section name="licenses" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="GraphControlClientSendTimeout" value="20"/>
  </appSettings>
  
  <licenses>
    <add key="LTSerialNumber" value="981405-5050006-001"/>
  </licenses>

  <system.windows.forms jitDebugging="true"/>
  
  <userSettings>
  </userSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
