<?xml version="1.0"?>
<!-- -->
<configuration>
  <configSections>
    <section name="nativeEnvironment" type="System.Configuration.NameValueSectionHandler" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser"/>
  </configSections>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <NetFx40_PInvokeStackResilience enabled="1"/>
  </runtime>
  <appSettings>
    <add key="StreamTimeLimit" value="172800000"/>
    <add key="GraphControlClientSendTimeout" value="30"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="DispatchClientsUpdate" value="true"/>
    <add key="DispatchProfileUpdate" value="true"/>
    <add key="QueryMediaServersConfigFile" value="qms_config.xml"/>
    <add key="DeadMangoSelfPowerCycle" value="true"/>
    <add key="UseLTRestreamer2" value="true"/>
    <add key="LTRestreamerStopDelay" value="60000"/>
    <add key="GraphManagerStashTimeout" value="60000"/>
    <add key="IndigoServicesHostMaxFaults" value="10"/>
  </appSettings>
  <nativeEnvironment>
    <add key="DGRAM_PORT_LOW" value="27015"/>
    <add key="DGRAM_PORT_HIGH" value="27099"/>
    <add key="DGRAM_MAX_PACKET_SIZE" value="900"/>
    <add key="MX_DSP_Binary" value="MangoX_DM_D.out"/>
  </nativeEnvironment>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="OurDefaultBehavior" name="FutureConcepts.Media.Server.IndigoServices.CameraControlService">
        <endpoint address="CameraControlService" binding="netTcpBinding" bindingConfiguration="SessionBinding" contract="FutureConcepts.Media.Contract.ICameraControl"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8081/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OurDefaultBehavior" name="FutureConcepts.Media.Server.IndigoServices.MicrowaveControlService">
        <endpoint address="MicrowaveControlService" binding="netTcpBinding" bindingConfiguration="SessionBinding" contract="FutureConcepts.Media.Contract.IMicrowaveControl"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8081/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OurDefaultBehavior" name="FutureConcepts.Media.Server.IndigoServices.MicrowaveControlService2">
        <endpoint address="MicrowaveControlService" binding="netTcpBinding" bindingConfiguration="SessionBinding" contract="FutureConcepts.Media.Contract.IMicrowaveControl2"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8082/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OurDefaultBehavior" name="FutureConcepts.Media.Server.IndigoServices.ServerConfigService">
        <endpoint address="ServerConfigService" binding="netTcpBinding" bindingConfiguration="Binding" contract="FutureConcepts.Media.Contract.IServerConfig"/>
        <endpoint address="ServerConfig" binding="netTcpBinding" bindingConfiguration="ServerConfigServiceBinding" contract="FutureConcepts.Media.Contract.IServerConfig"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8099/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OurDefaultBehavior" name="FutureConcepts.Media.Server.IndigoServices.StreamService">
        <endpoint address="StreamService" binding="customBinding" bindingConfiguration="ReliableSession128" contract="FutureConcepts.Media.Contract.IStream"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8098/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OpenBehavior" name="FutureConcepts.Media.Server.IndigoServices.WebStreamService">
        <endpoint address="WebStreamService" binding="webHttpBinding" bindingConfiguration="DefaultWebHttpBinding" contract="FutureConcepts.Media.Contract.IWebStream"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8181"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OurDefaultBehavior" name="FutureConcepts.Media.Server.IndigoServices.ServerStatusService">
        <endpoint address="ServerStatusService" binding="netTcpBinding" bindingConfiguration="SessionBinding" contract="FutureConcepts.Media.Contract.IServerStatus"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8097/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OurDefaultBehavior" name="FutureConcepts.Media.Server.IndigoServices.TVStreamService">
        <endpoint address="TVStreamService" binding="customBinding" bindingConfiguration="ReliableSession128" contract="FutureConcepts.Media.Contract.ITVStream"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8099/"/>
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="OurDefaultBehavior" name="FutureConcepts.Media.Server.IndigoServices.RecordService">
        <endpoint address="RecordService" binding="netTcpBinding" bindingConfiguration="SessionBinding" contract="FutureConcepts.Media.Contract.IRecord"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8099/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="DefaultWebHttpBinding">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
      <customBinding>
        <binding name="ReliableSession128">
          <reliableSession inactivityTimeout="00:00:40" maxPendingChannels="128"/>
          <binaryMessageEncoding/>
          <tcpTransport/>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="Binding">
          <security mode="None"/>
        </binding>
        <binding name="ServerConfigServiceBinding">
          <reliableSession inactivityTimeout="00:00:20" enabled="true"/>
          <security mode="None"/>
        </binding>
        <binding name="SessionBinding" maxReceivedMessageSize="1000000">
          <reliableSession inactivityTimeout="00:00:20" enabled="true"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OurDefaultBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentSessions="100"/>
        </behavior>
        <behavior name="OpenBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error">
        <listeners>
          <add name="xmlTrace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="MEDIASERVER_TRACE.svclog"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
