@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    675 West Terrace Drice
    San Dimas, CA<br />
    <abbr title="Phone">P:</abbr>
    909-593-6705
</address>

